<!DOCTYPE html>
<html>
	<head>
		<title> Expert Advice	</title>
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
		

		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>



		<!-- New Navbar -->
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Expert Advice</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link" href="/">Home</a>
						<a class="nav-link" href="/posts">Posts</a>
						<a class="nav-link" href="/posts/new">New Problem Statement</a>
					</div>
					<div class="navbar-nav ml-auto">
						<% if(!currentUser) {%>
						<a class="nav-link" href="/login">Login</a>
						<a class="nav-link" href="/register">Register</a>
						<% } else {%>
						<a class="nav-link" href="#">Signed In As <%= currentUser.username%></a>
						<a class="nav-link" href="/logout">Logout</a>
						<% } %>
					</div>
				</div>
				
			</div>
			
		</nav>
		<br>


           	<!--New Navbar ends here  -->
		
		<div class="container">
			<% if(error && error.length >0) {%>
		<div class="alert alert-danger" role="alert"><%= error%></div>
		<% }%>
		
		<% if(success && success.length >0) {%>
		<div class="alert alert-success" role="alert"><%= success%></div>
			<% }%>
		</div>

    
	